#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#emp {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#emp td,
#emp th {
  border: 1px solid #ddd;
  padding: 8px;
}

#emp th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: blue;
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: #00008b;
}

.table-div {
  border-radius: 5px;

  /* background-color: #f2f2f2; */
  padding: 20px;
}

.form-box {
  border-radius: 5px;
  width: 30%;
  height: 100px;
  position: absolute;
  top: -20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}
